.landing-banner {
  height: calc(100vh - var(--nav-height));
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--nav-height);
}

.landing-banner_content h1 {
  font-size: clamp(1.8rem, 10vw, 4rem);
  color: #FFFFFF;
  max-width: 800px;
  text-align: center;
  margin-bottom: 2rem;
}

.landing-image {
  width: 50%;
}

.button {
  background-color: #FFFFFF;
  width: 250px;
  height: 60px;
  border-radius: 2rem;
  padding: 1rem;
  margin-inline: auto;
  font-weight: 600;
  font-size: 1rem;
  font-family: inherit;
  color: var(--secondary);
}

.button__icon {
  width: 24px;
}

.button:hover {
  cursor: pointer;
}

.button--primary {
  background-color: var(--primary);
  color: #FFFFFF;
}

.error {
  color: var(--error);
  display: none;
  text-align: center;
  font-size: 1rem;
  margin: 0;
}

.error--show {
  display: block;
}