.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  animation: fade-in 400ms ease-out 1;
  display: none;
  color: var(--secondary);
}

.modal-container__header {
  text-align: center;
}
.modal-container__header .heading {
  font-size: 2.5rem;
  color: inherit;
  font-weight: 700;
}

@media (max-width: 500px) {
  .modal-container__header {
    font-size: 1.7rem;
  }
}

@media (max-width: 350px) {
  .modal-container__header {
    font-size: 1.3rem;
  }
}

.modal-container__content {
  height: 100%;
}

.modal-container__header p {
  font-size: 1.2rem;
}

.modal-backdrop--show {
  display: flex;
}

.modal-container {
  border-radius: .5rem;
  padding: 1.2rem;
  overflow: auto;
  animation: slide-up 400ms ease-out 1;
  display: flex;
  flex-direction: column;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    opacity: .5;
    transform: translateY(400px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}